*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 3rem;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    margin-top: 3rem;
    /* background: rgb(211, 211, 255); */
}
.canvas{
    width: 660px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
  
    align-content: flex-start;
}
.btn-container{
    display: flex;
    gap: 1rem;
}
.btn {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    transition: 0.3s ease;
}

.erase{
    background: rgb(255, 178, 34);
}
.erase:hover{
    background: rgb(255, 194, 79);
}
.color{
    background: rgb(74, 121, 248);
}
.color:hover{
    background: rgb(117, 152, 249);
}
.clear{
    background: rgb(255, 255, 255);
}
.clear:hover{
    background: rgb(244, 244, 244);
}

.box{
    /* width: 40.5px;
    height: 40.5px; */
    background: rgb(255, 254, 254);
    border: 1px solid black; 
}
