*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 3rem;
}
.container{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    /* background: rgb(211, 211, 255); */
}
.additional-options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.input-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    margin-top: 2rem;
}
.grid-measure {
    font-size: 1.25rem;
   
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1rem;
}
.canvas{
    width: 660px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
   
    align-content: flex-start;
}
.btn-container{
    display: flex;
    gap: 1rem;
}
.btn-container img {
    width: 25px;
    height: 25px;
}

.color-picker-align {
    display: flex;
    align-items: center;
}

.btn {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    transition: 0.3s ease;
}

.erase{
    background: rgb(255, 178, 34);
}
.rainbow{
    color: transparent;
    background-clip: text;
    font-weight: bold;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.625), rgba(255, 166, 0, 0.625), rgba(255, 255, 0, 0.625),rgba(0, 128, 0, 0.625),rgba(0, 0, 255, 0.625),rgba(76, 0, 130, 0.625), rgba(238, 130, 238, 0.625));
}
.remove-grid{
    background: rgb(211, 211, 211);
}
.erase:hover{
    background: rgb(255, 194, 79);
}
.color{
    background: rgb(74, 121, 248);
}
.color:hover{
    background: rgb(117, 152, 249);
}
.clear{
    background: rgb(255, 255, 255);
}
.clear:hover{
    background: rgb(244, 244, 244);
}

.box{
    /* width: 40.5px;
    height: 40.5px; */
    background: rgb(255, 254, 254);
    border: 1px solid black; 
}
.no-borders{
    border:none;
}
